@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #F1F5F8;
  --green: #0AAC6C;
  --yellow: #FFEF9B;
  --pale: #D2F0BB;
  --pups: #CDD5FF;
  --yellowPrim: #FFDF37;    
  --pinkPrim: #F9D5D5;
  --bgSec: #F1F5F8;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
